---
Checks: '-*,
         cert-*,
         bugprone-*,
         performance-*,
         clang-analyzer-*,
         clang-diagnostic-*,
         -cert-oop54-cpp,
         -cert-err58-cpp,
         -bugprone-unhandled-self-assignment'
UseColor: true
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
...
