---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 115
IndentWidth: 4
ConstructorInitializerIndentWidth: 8
AccessModifierOffset: -2
SortIncludes: false
PointerAlignment: Left
BreakBeforeBraces: Attach
NamespaceIndentation: All
AlwaysBreakTemplateDeclarations: Yes
AlignTrailingComments: true
FixNamespaceComments: false
AllowShortFunctionsOnASingleLine: Empty
...
