---
Checks: '-*,
         cert-*,
         bugprone-*,
         performance-*,
         readability-*,
         clang-analyzer-*,
         clang-diagnostic-*,
         -cert-err58-cpp,
         -bugprone-assert-side-effect,
         -readability-redundant-access-specifiers,
         -readability-else-after-return,
         -readability-magic-numbers,
         -readability-uppercase-literal-suffix'
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.UnionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: 1
UseColor: true
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
...
